# Exclude dataset folder
/data/redkitchen/
data/redkitchen/
# Python env
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
# Editor
.vscode/
.idea/
.DS_Store
# Local OS
Thumbs.db

# Generated outputs\noutput/\nresults/\n
